VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your_project_id
VITE_APPWRITE_DATABASE_ID=your_database_id
VITE_APPWRITE_PROFILES_COLLECTION_ID=your_profiles_collection_id
VITE_APPWRITE_TASKS_COLLECTION_ID=your_tasks_collection_id
VITE_APPWRITE_NOTES_COLLECTION_ID=your_notes_collection_id
VITE_APPWRITE_WORKBOOK_COLLECTION_ID=your_workbook_collection_id
VITE_APPWRITE_HABITS_COLLECTION_ID=your_habits_collection_id
VITE_APPWRITE_HABIT_LOGS_COLLECTION_ID=your_habit_logs_collection_id
VITE_APPWRITE_BUCKET_ID=your_bucket_id
